/*donators:
Satskhi:  4405644
Pombär:   3250095
Třąρ-Fя:  23785923
Timowh:   5658276
*/

#chat [data-cid^='4405644-'] .un:before,
#chat [data-cid^='3250095-'] .un:before,
#chat [data-cid^='23785923-'] .un:before,
#chat [data-cid^='5658276-'] .un:before {
    content: url("https://dl.dropboxusercontent.com/s/snctnlwc2lz5b0p/EDT-supporter.png");
    top: 3px;
    Left: -3px;
    position: relative;
}
#chat [data-cid^='4405644-'] .un,
#chat [data-cid^='3250095-'] .un,
#chat [data-cid^='23785923-'] .un,
#chat [data-cid^='5658276-'] .un {
    top: -3px !important;
    position: relative;
}
#chat [data-cid^='4405644-'] .un:hover:after,
#chat [data-cid^='3250095-'] .un:hover:after,
#chat [data-cid^='23785923-'] .un:hover:after,
#chat [data-cid^='5658276-'] .un:hover:after {
    content: 'EDT Supporter';
    padding: 3px 7px;
    background: #555D70;
    color: white;
    bottom: 21px;
    position: absolute;
    right: 0px;
    width: 80px;
}
/*normal supporters*/
#user-rollover.id-3250095.chat .meta,
#user-rollover.id-23785923.chat .meta{
height: 146px !important;
}
#user-rollover.id-3250095.chat .meta:before,
#user-rollover.id-23785923.chat .meta:before{
    content: url("https://dl.dropboxusercontent.com/s/snctnlwc2lz5b0p/EDT-supporter.png");
    top: 120px;
    left: 109px;
    position: absolute;
}
#user-rollover.id-3250095.chat .meta:after,
#user-rollover.id-23785923.chat .meta:after{
    content: 'EDT Supporter';
    color: #808691;
    position: absolute;
    top: 118px;
    left: 130px;
}
/*People who also support another things (eg. RCS)*/
#user-rollover.id-4405644.chat .meta,
#user-rollover.id-5658276.chat .meta{
height: 170px !important;
}
#user-rollover.id-4405644.chat .meta:before,
#user-rollover.id-5658276.chat .meta:before{
    content: url("https://dl.dropboxusercontent.com/s/snctnlwc2lz5b0p/EDT-supporter.png");
    top: 145px;
    left: 109px;
    position: absolute;
}
#user-rollover.id-4405644.chat .meta:after,
#user-rollover.id-5658276.chat .meta:after{
    content: 'EDT Supporter';
    color: #808691;
    position: absolute;
    top: 143px;
    left: 130px;
}
