/* 4SharedPRO 
 [data-cid^="3424833-"] .badge-box .bdg {
     background-image: url("https://i.imgur.com/AqlZ8lD.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 #user-rollover.id-3424833 .badge-box .bdg {
     border-radius: 5px !important;
     background-image: url("https://i.imgur.com/AqlZ8lD.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
  4SharedPRO */

/* CHUCK */
 [data-cid^="3469419-"] .badge-box .bdg {
     background-image: url("http://i.imgur.com/3UHUfwJ.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 #user-rollover.id-3469419 .badge-box .bdg {
     border-radius: 5px !important;
     background-image: url("http://i.imgur.com/3UHUfwJ.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 /* CHUCK */
/* Timowh */
 [data-cid^="5658276-"] .badge-box .bdg {
     border-radius: 6px !important;
     background-image: url("http://i.imgur.com/WSnlRjs.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 #user-rollover.id-5658276 .badge-box .bdg {
     border-radius: 8px !important;
     background-image: url("http://i.imgur.com/WSnlRjs.gif") !important;
     background-repeat: round !important;
     background-size: 30px !important;
 }
 /* Timowh */
